
/**************  Style CSS  *************/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(20, 20, 20);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
}   

:root{
    --primary-color: #e50914;
    --dark-color: rgba(20, 20, 20, 0.933);
    --text-white-color: #f0f0f0;
}

.svg-color{
    fill: var(--primary-color);
    padding: 0px 20px;
    line-height: normal;
}

.size-logo{
    width: 167px;
    height: auto;
}

.header-box{
    width: 100%;
    height: auto;
    display: flex;
    background: var( --dark-color);
    padding: 10px;
    align-items: center;
    border-bottom:.3px solid rgba(31, 31, 31, 0.705);
    /* border: solid 1px rgb(248, 6, 6); / */
   
}

.nav-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 95%;
    margin: auto;
    padding:0px 20px;
    /* border: solid 1px rgb(247, 121, 3); */
}

.navbar{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* border: solid 1px rgb(3, 247, 23); */
}

.navbar ul{
    padding: 0px 40px;
}

.navbar li{
    display: inline;
    color: var(--text-white-color);
    font-size: 14px;
    padding: 0px 10px;
    line-height: normal;
}

.border{
    border: .3px solid chartreuse;
}

.btn{
    width: 78.5px;
    border: solid var(--primary-color);
    background: var(--primary-color);
    color: var(--text-white-color);
    padding: 4px;
    border-radius: 1px;
    font-size: 14px;
    margin: 2px auto;
}

.search{
    width: 250px;
    background: var(--dark-color);
    border: solid 1.3px var(--text-white-color);
    border-radius: none ;
    padding: 6px 20px;
    margin: 1px auto;
    color: var(--text-white-color);
    font-size: small;
}

input[type=search]:focus{
    display: flex;
    border: solid 1.3px var(--text-white-color);
    border-radius: none ;
    outline: none;
}

.dropdown{
    display: none ;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.avata{
    width: 40px;
}

@media screen and (max-width: 578px) {
    .navbar{
        display: none !important;
    }
}
@media screen  and (max-width: 1336px) {

    .svg-color{
        /* fill: var(--primary-color); */
        padding: 0px 10px;
        line-height: normal;
    }
    .size-logo{
        width: 110px;
        height: auto;
    }
    .search{
        width: 200px;
        padding: 6px 10px;
        margin: 0px auto;
    }
    .navbar li{
        font-size: 14px;
        padding: 0px auto;
    }
}
@media screen and (max-width: 1194px ){

    .navbar ul{
        padding: 0px 5px;
    }
    .navbar li{
        display: inline;
        color: var(--text-white-color);
        font-size: 14px;
        padding: 0px 3px;
        line-height: normal;
    }
}
@media screen and (max-width: 1024px) {

    .navbar ul, li{
        display: none !important;
        padding: 0px 5px;
    }
    
    .dropbtn {
        color: var(--text-white-color);
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #111111;
        min-width: 390px;
        margin-top: 2rem;
        border:solid .2px rgb(31, 31, 31);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: var(--text-white-color);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #1d1d1d}
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        background-color: #1d1d1d;
      }

    
   
}
    

