
/**************  Style CSS  *************/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: rgb(20, 20, 20);
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
}   

:root{
    --primary-color: #e50914;
    --dark-color: rgba(20, 20, 20, 0.933);
    --text-white-color: #f0f0f0;
}

.svg-color{
    /* fill: var(--primary-color); */
    padding: 0px 20px;
    line-height: normal;
}

.size-logo{
    width: 167px;
    height: auto;
}

.header-box{
    width: 100%;
    height: auto;
    display: flex;
    background: var( --dark-color);
    padding: 25px;
    align-items: center;
    border-bottom:.3px solid rgba(31, 31, 31, 0.705);
    /* border: solid 1px rgb(248, 6, 6); / */
   
}

.nav-box{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 95%;
    margin: auto;
    padding:0px 20px;
    /* border: solid 1px rgb(247, 121, 3); */
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: solid 1px rgb(3, 247, 23); */
}

.navbar ul{
    padding: 0px 40px;
}

.navbar li{
    display: inline;
    color: var(--text-white-color);
    font-size: 15px;
    padding: 0px 10px;
    line-height: normal;
    
}

.border{
    border: .3px solid chartreuse;
}

.btn{
    width: 78.5px;
    border: solid var(--primary-color);
    background: var(--primary-color);
    color: var(--text-white-color);
    padding: 4px;
    border-radius: 1px;
    font-size: 14px;
    margin: 2px;
}

.search{
    width: 250px;
    background: var(--dark-color);
    border: solid 1.3px var(--text-white-color);
    border-radius: none ;
    padding: 1px 20px;
    margin: 1px 30px;
    color: var(--text-white-color);
}

input[type=search]:focus{
    border: solid 1.3px var(--text-white-color);
    border-radius: none ;
    outline: none;

}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}



@media screen and (max-width: 768px) {
    .navbar{
        display: none !important;
      
    }
}
